.total-profile{
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  min-height: 100vh;
}
.profile-page-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-details, .test-results {
    margin-bottom: 30px;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filters label {
    margin-right: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .logout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  