/* General Styles */


.nt-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .nt-content {
    width: 90%;
    max-width: 1200px;
    margin-top: 40px;
    text-align: center;
  }
  
  .nt-title {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 40px;
  }
  
  .nt-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5%;
    margin-bottom: 5%;
  }
  
  .nt-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nt-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  .nt-icon {
    border-radius: 10px;
    max-width: 90%;
    max-height: 50%;
    margin-bottom: 10px;
    object-fit: contain; /* Ensure the image fits within the container without distortion */
  }
  
  .nt-card-content {
    text-align: center;
  }
  
  .nt-card-content h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
  }
  
  .nt-card-content p {
    color: #777;
    font-size: 1rem;
  }