/* Navbar Styles */

.navbar {
    background-color: #34495e;
    padding: 15px 30px;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky; /* Stick navbar to the top */
    top: 0;
    max-width: 330px;
    z-index: 1000; /* Ensure it stays on top of other content */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.navbar li {
    position: relative;
}

.navbar-icon {
    font-size: 1.5rem;
    color: #ecf0f1;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar-icon:hover {
    color: #0db6ff;
}

.tooltip-container {
    position: relative;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
    top: 150%;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, top 0.3s;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
}

/* Responsive Design */

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
        max-width: fit-content;
    }
    .navbar ul {
        flex-direction: row;
        gap: 20px;
    }

    .navbar-icon {
        font-size: 1.2rem;
    }
}
